.admin-home-page{
    height:100vh;
    width:100%;
    background-color: rgb(245, 245, 245);
    /* background-color: red; */
    display: flex;
}
.admin-main-content{
    height:100%;
    flex:1;
}
.admin-rendered-main{
    width:100%;
    height:93vh;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;
    /* background-color: red; */
}

@media(max-width:768px){
    .admin-main-content{
        width:100%;
    }
}
